# Build artifacts
/til

# Sample Bridge Description Files
/*.brg.hcl

# Editors and IDEs
*.swo
*.swp
*~
/*.sublime-project
/*.sublime-workspace
/.idea/
/.vscode/

# Software licenses
/LICENSES/vendor/til/

# OS artifacts
.DS_Store
