name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Test and static analysis
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.17'

    # This action takes care of caching/restoring pkg and build caches.
    # It needs to be the first step executed after the Go setup.
    - name: Lint
      uses: golangci/golangci-lint-action@v3

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
